# Tahoe Healthcare CareTracker - Carles Poles-Mielgo

In [1]:
reset -fs

In [2]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
hospital_df = pd.read_csv("Final Project Data_Case.csv")

In [4]:
hospital_df.head()

,﻿age,female,flu_season,ed_admit,severity score,comorbidity score,readmit30
0,100,1,1,1,38,112,0
1,83,1,0,1,8,109,1
2,74,0,1,0,1,80,0
3,66,1,1,1,25,4,0
4,68,1,1,1,25,32,0

In [5]:
new_columns = ['age', 'sex', 'flu_season', 'ed_admit', 'severity_score', 'comorbidity_score', 'readmit_30']

In [6]:
hospital_df.columns = new_columns

In [7]:
hospital_df.head()

,age,sex,flu_season,ed_admit,severity_score,comorbidity_score,readmit_30
0,100,1,1,1,38,112,0
1,83,1,0,1,8,109,1
2,74,0,1,0,1,80,0
3,66,1,1,1,25,4,0
4,68,1,1,1,25,32,0

In [8]:
hospital_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4382 entries, 0 to 4381
Data columns (total 7 columns):
age                  4382 non-null int64
sex                  4382 non-null int64
flu_season           4382 non-null int64
ed_admit             4382 non-null int64
severity_score       4382 non-null int64
comorbidity_score    4382 non-null int64
readmit_30           4382 non-null int64
dtypes: int64(7)
memory usage: 239.7 KB

In [9]:
hospital_df.describe()

,age,sex,flu_season,ed_admit,severity_score,comorbidity_score,readmit_30
count,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000,4382.000000
mean,76.847330,0.469192,0.408033,0.809220,22.353263,94.735509,0.227750
std,7.904949,0.499107,0.491525,0.392961,18.005320,57.145155,0.419428
min,65.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
25%,70.000000,0.000000,0.000000,1.000000,8.000000,51.000000,0.000000
50%,76.000000,0.000000,0.000000,1.000000,19.000000,86.000000,0.000000
75%,82.000000,1.000000,1.000000,1.000000,32.000000,131.000000,0.000000
max,105.000000,1.000000,1.000000,1.000000,112.000000,322.000000,1.000000