# Markow Chains

In [19]:
reset -fs

### Project revenues for the next 10 years.

### Discount rate: 10%

### What would be the value of the customer base in 2025.

In [1]:
import numpy as np
import pandas as pd

In [17]:
df = pd.read_csv('purchases.txt', sep="\t", header=None, names=['customer_id', 'purchase_amount', 'date_purchase'], index_col=['date_purchase'])

In [18]:
df.head()

               customer_id  purchase_amount
date_purchase
2009-11-06             760             25.0
2012-09-28             860             50.0
2005-10-25            1200            100.0
2009-07-09            1420             50.0
2013-01-25            1940             70.0